.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 33%;
    left: 30%;
    border: yellow 3px solid;
    background-color: yellow;
    width: 40%;
}

.flag {
    width: 30%;
    border: yellow 3px solid;
}